.isi{
  background-color: #343F4B;
  border-radius: 10px;
  margin: 10px;
  margin-top: 15px;
}

.isi .text-left{
  color: white;
}

.fill{
border-radius: 10px;
margin: 10px;
margin-top: 20px;
background-color: #95D8EB;
}
