{% load static %}
<html>
 <head>
   <title>Story6</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel = "stylesheet" type = "text/css" href = "{% static 'Story6/main.css' %}">
 </head>

 <body>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand">Afrah</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     <div class="navbar-nav">
       <a class="nav-item nav-link active" href="/Story6/">Input Status <span class="sr-only">(current)</span></a>
       <a class="nav-item nav-link" href="/profile/">Profile</a>
     </div>
   </div>
 </nav>

   <div class = "jumbotron isi">
  <h3 class = "text-left">Halo, Apa Kabar</h3>
  </div>

  <div class = "jumbotron fill">
    <div class = "row">
      <div class = "col-sm-2"></div>
      <div class = "col-sm-8">
        <form action="/add_status/" method="POST" class = "thisform">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Submit" id = "submit">
      </form>
      </div>
    </div>
  </div>

  <div class = "jumbotron fill">
    <h1>Your Status:</h1>
    {% for status in statuss %}
      <h3>Status: {{ status.status }}</h3>
      <h4>***</h4>
    {% endfor %}
    <form action = "/deleteAll/" method = "get">
      <input type = 'submit' class = 'btn btn-outline-primary' value = "Delete All">
    </form>
</div>

 </body>
 </html>
